[submodule "third_party/ink-stroke-modeler"]
	path = third_party/ink-stroke-modeler
	url = https://github.com/google/ink-stroke-modeler.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
